#eWrapper{
    display: flex;
    flex-direction: row !important;
    color: white;
}

#contentwrapper{
    flex: 9;
    display: flex;
    flex-direction: column;
}


#eContent{
    flex: 9;
}

#eTitle{
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 25px;
    flex: 1;
}

@media screen and (max-width: 400px) {
    #main {
      flex-direction: column;
    }
  }