#sidebar{
   background-color: #ffffff9d;
   
   padding: 30px 5px 0px 5px;
}

.nav-link > a{
   color: black;
}

.nav-link > a:hover{
   color: rgb(114, 4, 107);
   font-weight: bold;
   text-decoration: none;
}